
.background {
    background-image: url('https://180a8v2uue323epm863rarph-wpengine.netdna-ssl.com/wp-content/uploads/magic-home-bg-2.svg');
    background-size: cover;

}

.background-lower {
    background: #F6F7FB;
}

.white-text {
    color: ghostwhite;
    font-weight: 700;
}

.main-heading {
    font-size: 36px;
    text-align: center;
}

.nav-link {
    color: ghostwhite;
    font-weight: bold;
    font-size: 20px;
}

.nav-link-button {
    background: white;
    color: #12092C;
    border-radius: 9999px;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: 700;
}

.btn-outline-primary:hover {
    background: #5451F1;
}

.secondary-heading {
    font-size: 76px;
}

.secondary-heading-alt {
    color: #5451F1;
}

.hero-image {
    height: 400px;
    width: 400px;
    box-shadow: 40px 40px 75px 0px rgb(216, 216, 216)
}

.hero-text{
    font-size: 24px;
    padding: 30px;
}

.line-separator {
    border-top: 1px solid grey;
}

.heading-three {
    font-size: 24px;
    font-weight: lighter;
}

.marquee-item {
    border-radius: 9999px;
    padding: 11px 32px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    color: #0f0928;
    box-shadow: 12px 12px 24px rgb(58 56 146 / 10%);
}


.marquee-overlay-container {
    height: 600px;
    width: 800px;
    position: relative;
    margin: auto;

}

.marquee-overlay {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(246,247,251,1) 0%, rgba(246,247,251,0.006039915966386533) 50%, rgba(246,247,251,1) 100%);
    height: 100%;
    width: 100%;
    z-index: 100%;
    position: absolute;
    z-index: 100;
}

.nav-item {
    padding: 0px 30px;
}